doc/sipref.html

*.pyc
*.o
*.so
Makefile
sip
sip.so

*.bat

# windows binary files
*.pdb
*.obj
*.exe.manifest
*.exe
*.ilk
*.lib
*.pyd
*.pyd.manifest
*.exp
*.suo

.DS_Store
sipconfig.py

.project
.pydevproject

# temporary benchmark directory
benchmark/
=======
*.suo

sipgen/parser.c
doc/sipref.html

